{% include 'header.html' %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	{% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Novena- Health & Care Medical template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="{% static 'Inside/image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'Inside/css/style.css' %}">

</head>

<body id="top">




<section class="page-title bg-1">
  <div class="overlay" s>
  <div class="container" >
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white"></span><br><br><br><br>
          <h1 class="text-capitalize mb-5 text-lg">About Us</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section testimonial">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="section-title">
					<h2 class="mb-4">WHO ARE WE? </h2>
					<div class="divider  my-4"></div>
				</div>
			</div>
		</div>
		
		<div class="row align-items-center">
			
			<div class="col-lg-6 testimonial-wrap offset-lg-6">
				<div class="testimonial-block">
					<div class="client-info ">
						<h4>The Fit India Company </h4>
					</div>
					<p style="text-align: justify;">
						is a health, fitness and well-being-oriented firm that brings to you an inclusive health and wellness array to provide you the utmost of your health from inside-out. 
We are a team of hard-working doctors, qualified dietitians, fitness trainers, and healers, at your services, to provide our years of knowledge and experience in your betterment. 
We want you to experience the undiscovered dimensions of your own well-being with us. 

Before knowing more about us, we would like you to know about your existence. Must watch this animation and discover what else we have got for you in store.
					</p>
					<i class="icofont-quote-right"></i>
					
				</div>


			</div>
		</div>
		<img src="https://images.unsplash.com/photo-1583393643017-309db2c7e606?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" style="margin-top: -600px;width: 500px;height: 600px;">
	</div>
</section>

<section class="section doctor-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="doctor-img-block">
					<img src="https://images.unsplash.com/photo-1598221859975-ad080eba6ba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="" class="img-fluid w-100" style="width: 600px;height: 450px;">

				</div>
			</div>

			<div class="col-lg-8 col-md-6">
				<div class="doctor-details mt-4 mt-lg-0">
					<h2 class="mb-4">OUR APPROACH </h2>
					<div class="divider my-4"></div>
					<p style="text-align: justify;">We know that fitness is not just having six-pack abs or an outstanding stamina neither it is attaining your ideal body weight or having the best possible physique. It is a lot more than these. As much as it is our body’s cellular functioning, it is also our contributions that enables the body and mind to unveil its true form. We humans are meant to take care of ourselves, and we are here to guide you through the most significant way of nurturing your health with our natural yet effective plans. 
						</p>
					<p style="text-align: justify;">We are trying to unroot all the health aspects, element by element and blend it with modern sciences to keep up with the revolutionizing society. We cover your physical, mental, and spiritual fitness qualities and algorithmically agree with the terms that suit best for charming your lives with the most vibrant forms of your own reality.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<iframe width="355" height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY">
					</iframe>
					<img src="https://images.unsplash.com/photo-1571103189706-cd54b23e81f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=667&q=80" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="https://images.unsplash.com/photo-1514053026555-49ce8886ae41?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">OUR Ways</h2>
					<p class="mt-4 mb-5" style="text-align: justify;">At<strong>The Fit India Company (FICoy)</strong> , we have a common interest of providing the finest health measures to everyone. Our practice is absolutely based on modern science, yet it has that natural essence in it. We customize the health plans for our clients with factual approaches and we ensure that your concerns are met fully. In possession of our knowledge, we whole heartedly work towards mentoring you to find your own fit. We figure out the troublesome spot that is hindering you with your health improvements, and design solutions for the bliss of your tranquility of your mind, body, and souls. </p>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2 class="title-color">OUR MISSION</h2>
			</div>
			<div class="col-lg-8">
				<p style="text-align: justify;"><strong> YOU </strong> know how your body syncs at an equilibrium with the nature and WE know how to push you towards maintaining that synchronization. 
					The sutras of your health and well-being, all lie within <strong>“YOUR NATURE and THE NATURE”</strong>. Your body is ultimately driven by all the forces of the nature in harmony with your own lifestyle. 
					Keeping the ages-old health legacy prominent and making science trend blasts into it to suit everyone’s requirements is what we are aimed at, i.e., retaining health naturally. It is all science in nature’s natural laws, and we are trying to share the feel of this beautiful knowledge to every individual out there.
					We believe in the wonderful serenity of nature and its power of preserving the balance in everything. We abide by the nature’s rule and aim at making you realize the true potentials in your existence. </p>
				
			</div>
		</div>
	</div>
</section>



{% include 'footer.html' %}
   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'Inside/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'Inside/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'Inside/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'Inside/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'Inside/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'Inside/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'Inside/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'Inside/js/script.js' %}"></script>
    <script src="{% static 'Inside/js/contact.js' %}"></script>

  </body>
  </html>