<!DOCTYPE html>
<html lang="zxx">
<head>
	{% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Fitcoy | Gym</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="{% static 'Inside/image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'Inside/css/style.css' %}">

</head>

<body id="top">



<!-- footer Start -->
<footer class="footer section gray-bg" style="background-color: #000000">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="{% static 'header/img/logo-05.png' %}" alt="" class="img-fluid">
					</div>
					<p style="color: #fff;text-align: justify;">The Fit India Company is a health, fitness and well-being-oriented firm that brings to you an inclusive health and wellness array to provide you the utmost of your health from inside-out.</p>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item" ><a style="color: black;" href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a style="color: black;"  href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a style="color: black;"  href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3" style="color: #a7f200;font-size: 20px;">Quick Links</h4>
					<div style="background-color: #fff;" class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="{% url 'about' %}">About </a></li>
						<li><a href="{% url 'team' %}">Teams</a></li>
						<li><a href="{% url 'services' %}">Services</a></li>
						<li><a href="{% url 'blogs' %}">Blogs</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3" style="color: #a7f200;font-size: 20px;">Support</h4>
					<div style="background-color: #fff;" class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="{% url 'companey_lisence' %}">Why Choose Us</a></li>
						<li><a href="{% url 'terms_conditions' %}">Terms & Conditions</a></li>
						<li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
						<li><a href="{% url 'companey_support' %}">Company Support </a></li>
						<li><a href="{% url 'faqss' %}">FAQuestions</a></li>
						
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3" style="color: #a7f200;font-size: 20px;">Get in Touch</h4>
					<div style="background-color: #fff;" class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Support Available for 24/7</span>
						</div>
						<h4  class="mt-2"><a style="color: #fff;" href="fit.indcoy@gmail.com">fit.indcoy@gmail.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Mon to Fri : 08:30 - 18:00</span>
						</div>
						<h4  class="mt-2"><a style="color: #fff;" href="+918700955586">+918700955586</a></h4>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="copyright">
						All rights reserved <span class="text-color" style="color: #a7f200;">Design</span>&<span class="text-color" style="color: #a7f200;">Developed</span> by <a href="https://www.vistaarwebx.com/" target="_blank" style="color:#fff"><img src="{% static 'header/img/logos.png' %}" style="width:4%;">istaarwebX</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						<form action="#" class="subscribe">
							<input type="text" class="form-control" placeholder="Your Email address" style="border-radius: 30px;height:60px">
							<a href="#" class="btn btn-main-2 btn-round-full" style="margin-top: 0px;padding-top: 9px;width:150px;height:48px;font-size: 17px;border-radius: 25px;background-color:#a7f200 ;border-color: #a7f200;color: black;">Subscribe</a>
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'Inside/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'Inside/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'Inside/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'Inside/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'Inside/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'Inside/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'Inside/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'Inside/js/script.js' %}"></script>
    <script src="{% static 'Inside/js/contact.js' %}"></script>

  </body>
  </html>