<html lang="zxx">

<head>
    
   
</head>
<body>
    <h1>{{ cat.quctions }}</h1>
    <form method="POST" id="sss">
        {% csrf_token %}
          <input type="radio" id="html" name="op1" value="HTML">
          <label for="html">{{ cat.choice1 }}</label><br>
          <input type="radio" id="css" name="op1" value="CSS">
          <label for="css">{{ cat.choice2 }}</label><br>
          <input type="radio" id="javascript" name="op1" value="JavaScript">
          <label for="javascript">{{ cat.choice3 }}</label>
        

    
        </form> 
        <a href="{% url 'mcqs' z %}">next</a>
<script>document.getElementById("sss").submit();</script>
</body>
</html>
