<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'team/img/favicon.png' %}" rel="icon">
  <link href="{% static 'team/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'team/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'team/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'team/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'team/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'team/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'team/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'team/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'team/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

 


    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us ">
      <div class="" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3><strong>Dr Ashish Kumar Meena</strong> <br>MBBS</h3>
              <p style="text-align: justify;">
                Hi, I am Dr Ashish Kumar Meena, a doctor by profession .I have completed my MBBS and currently pursuing my MD degree in the field of Community Medicine also known Preventive and Social medicine (PSM) from GMC, Bhopal . Before starting PG in PSM I served in AIIMS Bhopal as a junior resident doctor for a year in Paediatrics dept. followed by about 14 months of service in Red cross Hospital Bhopal where I was a CMO and dealt with emergencies and routine OPD/IPD patients.
              </p>
             
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1" class="collapsed"><span>01</span>THE HARSH REALITY<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p style="text-align: justify;">
                      One of the toughest times of our era, the COVID disease came to our test , which we so far have fought whole heartedly with all our might . After having done around 800-1000 hours duty in COVID , dealing from asymptomatic to critically ill patients from general wards to ICUs , I realized it was a real painful affair for people from all walks of life .

We saved many lives but lost quite a few too. The joy of saving a life comes down to nothing in a flash when you lose a patient the very next moment.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> FIRST AID<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p style="text-align: justify;">
                      My first big experience of dealing with emergencies came at Red Cross hospital where at times I was the only attending doctor and had to deal with everything starting from minor wounds to suturing, stomach ache to heart attacks, minor UTIs to renal stone pain!!
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> BORN AN ATHLETE<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p style="text-align: justify;">
                      Since my early school days I have been attracted more towards sports as compared to studies.  From being an active participant in football and cricket games, I represented my school athletic team in inter-state athletic clusters in track events twice and won medals though in relays only!! My sports journey continued through cricket in college days.

This is when I started observing the difference in attitude, physique, intelligence and approach to problems of the athletes as compared to non-athletes. 
                    </p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span>THE MOTIVATION<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                    <p style="text-align: justify;">
                      The seed for it was sown much earlier, when I had a mixed interest in sports and my nurturing will to become a doctor. Both the things though are much apart since one requires a lot of dedicated study time and the other requires to straining yourself outdoors but fitness was one thing that came out as a common denominator for both the equations in my case. As sports are basically making yourself fit while a doctor strives to make others fit.
                    </p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed"><span>05</span> GIVE AWAY<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                    <p style="text-align: justify;">
                      Finally with all the experiences and whatsoever progress I have made in the respective fields along with experiences and expertise of my other team members of nutritionists and and fitness enthusiasts ,we have decided to  form a regime of diet and exercises with meal plans and counselling in the most natural way possible for the benefit of people .
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("{% static 'header/img/ash.jpeg' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'header/img/man.png' %}"  class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
           
            <div class="skills-content">

                <div class="row">

                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
          
                      <div class="content">
                        <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        </p>
                      </div>
          
                      <div class="accordion-list">
                        <ul>
                          <li>
                            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                              <p>
                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                              </p>
                            </div>
                          </li>
          
                          <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                              <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                              </p>
                            </div>
                          </li>
          
                          <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                              <p>
                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                              </p>
                            </div>
                          </li>
          
                        </ul>
                      </div>
          
                    </div>
          
                 
                  </div>

          </div>
        </div>

      </div>
   </div>
   </section>

  

 

  </main><!-- End #main -->



  <!-- Vendor JS Files -->
  <script src="{% static 'team/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'team/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'team/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'team/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'team/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'team/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'team/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'team/js/main.js' %}"></script>

</body>

</html>