{% include 'header.html' %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	{% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Fitcoy | Gym</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'Inside/css/style.css' %}">

</head>

<body id="top">


    <section class="page-title bg-1" style="background-image: url({% static 'header/img/conn.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white"></span><br><br><br><br>
          <h1 class="text-capitalize mb-5 text-lg" style="text-shadow: 2px 2px 3px black;">Contact Us</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Contact Us</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->

<section class="section contact-info pb-0">
    <div class="container">
         <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0" style="color: black;">
                    <i style="color: #FDC20A;" class="icofont-live-support"></i>
                    <h5>Call Us</h5>
                     +91 900 920 2414
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0" style="color: black;">
                    <i style="color: #FDC20A;"  class="icofont-support-faq"></i>
                    <h5>Email Us</h5>
                    fit.indcoy@gmail.com
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0" style="color: black;">
                    <i style="color: #FDC20A;"  class="icofont-location-pin"></i>
                    <h5>Location</h5>
                    Saket Nagar, Habib Ganj, Bhopal, Madhya Pradesh 462024
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-form-wrap section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="text-md mb-2" style="color: black;">Contact us</h2>
                    <div class="divider mx-auto my-4"></div>
  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form " method="POST" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input required name="name"  type="text" class="form-control" placeholder="Your Full Name" >
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input required name="email"  type="email" class="form-control" placeholder="Your Email Address">
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input required name="subject"  type="text" class="form-control" placeholder="Your Query Topic">
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input required name="text" onkeypress="return event.charCode >= 45 &amp;&amp; event.charCode <= 57 &amp;&amp; event.charCode!=47" required="" name="mobile" minlength="10" maxlength="10" type="text" class="form-control" placeholder="Your Mobile Number">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-2 mb-4">
                        <textarea name="message" class="form-control" rows="8" placeholder="Your Message"></textarea>
                    </div>

                    <div class="text-center">
                        <input class="btn btn-main btn-round-full" style="background-color:#FDC20A;border-color: #FDC20A;" type="submit" value="Send Messege"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


 <div class="google-map ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.8007723907076!2d77.45843601497135!3d23.213930084856464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d7efaa3875ef1b6!2zMjPCsDEyJzUwLjIiTiA3N8KwMjcnMzguMyJF!5e0!3m2!1sen!2sin!4v1649169148213!5m2!1sen!2sin" width="1500" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- footer Start -->
{% include 'footer.html' %}
   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'Inside/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'Inside/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'Inside/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'Inside/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'Inside/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'Inside/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'Inside/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'Inside/js/script.js' %}"></script>
    <script src="{% static 'Inside/js/contact.js' %}"></script>

  </body>
  </html>