<!DOCTYPE html>
<html lang="zxx">
<head>
	{% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Fitcoy | Gym</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'Inside/css/style.css' %}">

</head>

<body id="top">

{% include 'header.html' %}
	


<section class="page-title bg-1" style="background-image: url({% static 'header/img/teaa.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white"></span><br><br><br><br>
          <h1 class="text-capitalize mb-5 text-lg" style="text-shadow: 2px 2px 3px black;">Teams</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All Doctors</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- portfolio -->
<section class="section doctors">
  <div class="container">
  	  <div class="row justify-content-center">
             <div class="col-lg-6 text-center">
               
            </div>
        </div>

    {% include 'team_comp.html' %}

    <div class="row shuffle-wrapper portfolio-gallery">
		{% for i in te %}
      	<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
	      	<div class="position-relative doctor-inner-box">
		        <div class="doctor-profile">
	               <div class="doctor-img">
	               		<a href="{% url 'team_single' i.id %}" ><img src="{{ i.image.url }}" alt="doctor-image" style="width: 250px;height: 300px;" class="img-fluid w-100"></a>
	               </div>
	            </div>
                <div class="content mt-3">
                	<h4 class="mb-0"><a href="{% url 'team_single' i.id %}">{{ i.name }}</a></h4>
                	<p>{{ i.post }}</p>
                </div> 
	      	</div>
      	</div>
		  {% endfor %}

    


      

      
    </div>
  </div>
</section>
<!-- /portfolio -->
<section class="section cta-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="cta-content">
					<div class="divider mb-4"></div>
					<h2 class="mb-5 text-lg">We are pleased to offer you the <span >chance to have the healthy</span></h2>
					<a href="{% url 'contact' %}" class="btn btn-main-2 btn-round-full">Get appoinment<i class="icofont-simple-right  ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

{%  include 'footer.html' %}
   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="{% static 'Inside/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'Inside/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'Inside/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'Inside/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'Inside/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'Inside/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'Inside/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'Inside/js/script.js' %}"></script>
    <script src="{% static 'Inside/js/contact.js' %}"></script>

  </body>
  </html>